<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="R (5).jpeg" alt="" style="height: 60px; width: 68px; margin-left: 15px; border-radius: 5px;"
      routerLink="/navimage">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left:870px;">
      <mat-icon style="color:blue;">home</mat-icon>
      <li class="nav-item" style="margin-right: 20px; color: blue; margin-left: 2px; font-size: 20px;"><a
          routerLink="/home" routerLinkActive="active">Home</a></li>
      <mat-icon style="color: blue;">add_shopping_cart</mat-icon>
      <li class="nav-item" style="margin-right: 20px; color: blue; margin-left: 2px; font-size: 20px;"><a
          routerLink="/item" routerLinkActive="active">Item</a></li>
      <mat-icon style="color:blue;">person</mat-icon>
      <li class="nav-item" style="margin-right: 20px; color: blue; margin-left: 2px; font-size: 20px;"><a
          routerLink="/about" routerLinkActive="active">About</a></li>
      <mat-icon style="color: blue"> local_grocery_store</mat-icon>
      <li class="nav-item" style="margin-right: 20px; color: blue; margin-left: 2px; font-size: 20px;"><a
          routerLink="/order" routerLinkActive="active">Order</a></li>
    </ul>
  </nav>
  
<router-outlet />


