.nav {
    background-color: rgb(21, 16, 92);
    height: 55px;
}

#topic {
    color: rgb(255, 255, 255);
    margin-left: 450px;
}

.form {
    margin-left: 50px;
}

.nav {
    background-color: rgb(21, 16, 92);
    height: 55px;
}

#topic {
    color: rgb(255, 255, 255);
    margin-left: 450px;
}

.itemtable {
    width: 800px;
    margin-left: 550px;
    margin-top: -300px;
}

#f {
    height: 60px;
    background-color: rgb(21, 16, 92);
}
