<div style="height: 300px; width: 600px; margin-left: 350px;">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
          <div *ngFor="let image of images; let i = index" class="carousel-item" [ngClass]="{'active': i === 0}">
            <img [src]="image.src" class="d-block w-100" [alt]="image.alt">
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="false"></span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="false"></span>
        </button>
      </div>
</div>

<div class="card1" routerLink="/card1" routerLinkActive="active">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>LG</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="2a.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>

          </p>
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
      </mat-card>
</div>

<div class="card2" routerLink="/card2" routerLinkActive="active">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Samsung</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="OIP (2).jpeg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>

          </p>
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
      </mat-card>
</div>

<div class="card3" routerLink="/card3" routerLinkActive="active">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Apple</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="3.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>

          </p>
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
      </mat-card>
</div>




